.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__input {
  display: flex;
  flex-direction: column;
}

.form__button {
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  background-color: var(--secondary);
  color: var(--primary);
}

.form__character-count {
  align-self: end;
  color: #3f4143;
}

.form__character-count--error {
  color: rgb(233, 2, 52);
}
