.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__input {
  display: flex;
  flex-direction: column;
}

.form__button {
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  background-color: var(--secondary);
  color: var(--primary);
}
